
.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
align-items: center;
justify-content: center;
display: none;

}
.loader-container.hidden{
  display: none;
}
/* spinners */

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}


.spinner-border {
  display: inline-block;
  width:  var(--spinner-width);
  height: var(--spinner-height, "2rem");
  vertical-align: text-bottom;
  border: var(--spinner-border-width) solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
  color: var(--spinner-color);
  
}
