canvas#mosaicCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

div#canvasArea {
  position: relative;
  display: none;
}
.download-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border-radius: 0.5rem;
}

.App.at-zoom-image-viewer {
  width: 100%;
  display: flex;
  & > div {
    width: 100%;
    height: 100%;
    position: relative;
    align-self: center;
    display: flex;
    background: #fff;
  }
  & .at-zoom-image-viewer-transformwrapper {
    align-self: center;
    margin: auto;
  }
}
.ant-carousel {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  & > .slick-slider {
    max-width: 100%;
    max-height: calc(100vh - 0.5rem);
    &.mosaic-carousel {
      align-items: center;
    }
  }
  & .slick-dots li {
    width: 2.5rem;
    height: 1rem;
    &.slick-active {
      width: 4rem;
    }
  }
  ul.slick-dots.slick-dots-top.mosaic-dots {
    display: none !important;
    & > li > button {
      height: 0.75rem;
    }
  }
  .slick-slide img {
    align-self: center;
  }
}
.mosaic-carousel-images {
  height: 100%;
  background: #364d79;
  max-width: 100%;
  max-height: calc(100vh);
  align-self: center;
  justify-self: center;
  margin: auto;
}

.mainpage-icons {
  position: absolute;
  align-self: center;
  display: flex;
  cursor: pointer;
  color: #ccc;
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.5));
  &.anticon-right {
    right: 1rem;
  }
  &.anticon-left {
    left: 1rem;
  }
  &:hover {
    color: white;
  }
  svg {
    width: 4rem;
    height: 4rem;
  }
}
