canvas#mosaicCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

div#canvasArea {
  position: relative;
  display: none;
}
.download-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border-radius: 0.5rem;
}
