@import "antd/dist/antd.css";

:root {
  --spinner-width: 4rem;
  --spinner-height: 4rem;
  --spinner-border-width: 0.25em;
  --spinner-color: white;
  --active-color: black;
  --drop-container-height: 6rem;
  --color-primary: #0c3ddf;
  --color-primary-hover: #0930ae;
  --color-text-primary: white;
}
#root {
  display: flex;
  width: 100%;
  height: 100%;
}
@import "./Components/Fullscreen/Fullscreen";
@import "./Components/Zoom-Image-Viewer/ZoomImageViwer";
@import "./Components/ImageDropContainer/ImageDropContainer";
@import "./Components/Spinner/Spinner";
@import "./Components/MainPage/MainPage";
@import "./Components/FileInputPage/FileInputPage";
