.at-zoom-image-viewer-transformwrapper {
  height: 100%;
  // height: calc(100% - 7rem);
  // max-height: calc(100vh - 7rem);
  position: relative;
  &.hidden {
    display: none;
  }
}
.react-transform-wrapper.transform-component-module_wrapper__1_Fgj {
  width: 100% !important;
  margin: auto !important;
  display: inline-block;
  cursor: grab;
  & > div {
    max-width: 100%;
  }
}

img.zoom-image {
  max-height: 100vh;
}

.tools {
  position: absolute;
  bottom: 8rem;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  z-index: 2;
}
.tools > button {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}

.zoomTransformCanvas {
  max-width: 100%;
  max-height: calc(100vh - 0.5rem);
}
#transformComponentCanvas {
  position: absolute;
  width: 100%;
}
.loader-bar {
  position: fixed;
  bottom: 0;
  height: 0.5rem;
  width: 100%;
  &>div{
    height: 100%;
    background-color: blue;
    transition: width 1s linear;
    width: 0;
  }
}
